
.app-title {
  font-size: 375%;
  font-weight: bold;
  text-align: center;
}

.talk-title {
  display: block;
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}

.name {
  display: block;
  text-align: center;
  color: #00f;
}

.detail {
  padding: 10px 10px;
  background: #ffffee;
  border: 1px solid #999;
  border-radius: 12px;
}


table.schedule tr.header {
  font-size: 200%;
  font-size: 150%;
  background: #efefef;
}

table.schedule td {
  font-size: 125%;
  border-bottom: solid 1px #efefef;
}
table.schedule th {
  text-align: center;
  font-size: 150%;
}

table.schedule td {
  padding: 0px 20px;
}

table.schedule tr.break {
  background: #EBFFD5;
  font-weight: bold;
}

table.schedule tr.lunch, tr.welcome {
  background: #B9F7F7;
  font-weight: bold;
}

table.schedule td.t {
  width: 190px;
}

table.schedule td.ttl {
  font-style: italic;
}

span.sips {
  color: black;
  font-size: 300%;
  height: 300px;
  line-height: 300px;      
  display: inline-block;
  vertical-align: bottom;
  /*border: solid 1px #333;*/
}

