// GREENS
$mountain-meadow : #29BB9C;
$niagra : #239F85;
$ufo-green : #39CA74;
$medium-sea-green : #30AD63;

// BLUES
$celestial-blue : #3A99D8;
$bleu-de-france : #3498db;
$curious-blue : #2F81B7;
$cello : #34495E;
$madison : #2c3e50;

// PURPLES & VIOLETS
$deep-lilac : #9A5CB4;
$vivid-violet : #8D48AB;
$black-currant : #1E0D42;

// YELLOWS & ORANGES
$saffron : #F0C330;
$yellow-sea : #F19B2C;
$west-side : #E47E30;
$flame : #D15419;

// REDS
$carmine-pink : #E54D42;
$indian-red : #CD5C5C;
$mahogany : #BE3A31;

// WHITES & SILVERS
$ghostwhite : #F8F8FF;
$solitude : #ecf0f1;
$ghost : #bdc3c7;
$tower-gray : #95A5A6;
$oslo-gray : #7F8C8D;