#sponsors {
  background : #fff;
  border-top : 1px solid #e9e9e9;
  -webkit-box-shadow : -1px 0 1px 1px #fff;
          box-shadow : -1px 0 1px 1px #fff;

  .heading {
    background : #fff;

    span {
      @include media($large-screen) {
        background : #fff;
      }
    }
  }

  ul {
    @include clearfix;
    // background : white;

    li {
      margin-top : em(36);
      margin-bottom : em(36);
      text-align : center;

      @include media($medium-screen-up) {
        @include span-columns(4);
        @include omega(3n);
      }

      img {
        max-height : 108px;
        max-width : 180px;
      }
    }
  }
}