.constrained {
  @include outer-container;
  @include clearfix;
  margin: auto;
}

section {
  .heading {
    background : $base-background-color;
    margin-top : em(18);
    // margin-bottom : em(18);
    padding : em(9) 0;
    position : relative;
    text-align : center;

    @include media($large-screen) {
      &:after {
        border-top : 1px solid darken($base-background-color, 13.5);
        border-bottom : 1px solid darken($base-background-color, 13.5);
        content : " ";
        height : 0;
        margin : auto;
        position : absolute;
        top : 0; right : 0; bottom : 0; left : 0;
        z-index : 1;
      }
    }

    span {
      color : darken($base-background-color, 36);
      display : inline-block;
      font-size : 0.63em;

      @include media($large-screen) {
        background : $base-background-color;
        font-size : 1em;
        padding-right : em(18);
        padding-left : em(18);
        position : relative;
        z-index : 2;
      }
    }
  }
}

.infobar,
.speakers {
  margin-bottom : em(54);
}