/*----------------------------
    CONFIG
  --------------------------*/
/*----------------------------
    FRAMEWORKS
  --------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #39ca74;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
}
button:hover,
input[type="submit"]:hover {
  background-color: #279051;
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ecf0f1;
  color: #666666;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Questrial", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 0.75em;
}

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #39ca74;
  text-decoration: none;
}
a:hover {
  color: #279051;
}
a:active, a:focus {
  color: #279051;
  outline: none;
}

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid #dddddd;
  color: #8c8c8c;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

cite {
  color: #a6a6a6;
  font-style: italic;
}
cite:before {
  content: '\2014 \00A0';
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #39ca74;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(49, 184, 104, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
}

tr, td, th {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  margin-bottom: 0.75em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
dl dd {
  margin: 0;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/*----------------------------
    LIBRARIES
  --------------------------*/
/*----------------------------
    MODULES
  --------------------------*/
header.navigation {
  background: rgba(248, 248, 255, 0.1);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 999;
}
header.navigation .menu-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
header.navigation .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
header.navigation .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
}
header.navigation .logo img {
  max-height: 60px;
  padding: .8em 0;
}
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-transform: uppercase;
}
@media screen and (min-width: 60em) {
  header.navigation .navigation-menu-button {
    display: none;
  }
}
header.navigation .navigation-menu-button:hover {
  color: white;
}
header.navigation .nav {
  z-index: 9999999;
  float: none;
}
@media screen and (min-width: 60em) {
  header.navigation .nav {
    float: right;
  }
}
header.navigation ul#navigation-menu {
  clear: both;
  -webkit-transform-style: preserve-3d;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 60em) {
  header.navigation ul#navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
header.navigation ul li {
  background: #423648;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-left: .8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 60em) {
  header.navigation ul li {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}
header.navigation ul li a {
  border-top: 1px solid #423648;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  display: block;
  padding-right: 1em;
}
header.navigation ul li a:hover {
  color: white;
}
@media screen and (min-width: 60em) {
  header.navigation ul li a {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-right: 0;
    padding-left: 1em;
  }
  header.navigation ul li a:hover {
    color: white;
  }
}
header.navigation .active-nav-item a {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
header.navigation li.more {
  padding-right: 0;
}
header.navigation li.more:hover .submenu {
  display: block;
}
@media screen and (min-width: 60em) {
  header.navigation li.more {
    position: relative;
    padding-right: .8em;
  }
}
header.navigation li.more a {
  padding-right: .8em;
}
header.navigation .submenu {
  display: none;
}
@media screen and (min-width: 60em) {
  header.navigation .submenu {
    position: absolute;
    top: 1em;
    left: -1em;
  }
}
header.navigation .submenu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 60em) {
  header.navigation .submenu li {
    line-height: 46.15385px;
  }
  header.navigation .submenu li:first-child a {
    padding-top: 1em;
  }
  header.navigation .submenu li:last-child a {
    border-bottom-left-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
    padding-bottom: .7em;
  }
}
header.navigation .submenu li a {
  text-align: right;
  background-color: #e9e9ff;
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 60em) {
  header.navigation .submenu li a {
    width: 12em;
    background-color: ghostwhite;
    text-align: left;
    padding-left: 1em;
  }
}
header.navigation .navigation-tools {
  display: block;
  padding-right: 1em;
  padding-left: 0.5em;
  clear: both;
  background: #505050;
}
header.navigation .navigation-tools:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 60em) {
  header.navigation .navigation-tools {
    background: transparent;
    float: right;
    clear: none;
  }
}
header.navigation a.sign-up {
  margin-top: 13px;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline;
  background: #39ca74;
  border-radius: 0.1875em;
  color: white;
  font-size: .8em;
  font-weight: 800;
  text-transform: uppercase;
  padding: .4em .5em;
}
@media screen and (min-width: 60em) {
  header.navigation a.sign-up {
    padding: .4em 1em;
  }
}
header.navigation a.sign-up:hover {
  background: #61d590;
}
header.navigation .search-bar {
  padding: 13px 5px;
  float: left;
}
header.navigation .search-bar .search-and-submit {
  position: relative;
}
header.navigation .search-bar .search-and-submit input[type=search] {
  background: white;
  border: 1px solid #dfdfff;
  padding: .6em .8em;
  font-size: .9em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0.375em;
  margin: 0;
}
header.navigation .search-bar .search-and-submit button[type=submit] {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: white;
  background-image: -webkit-linear-gradient(white, #e3e3e3);
  background-image: linear-gradient(white, #e3e3e3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  background-clip: padding-box;
  border: 1px solid #b8b8ff;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: white;
  background-image: -webkit-linear-gradient(white, #c7c7ff);
  background-image: linear-gradient(white, #c7c7ff);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  background-clip: padding-box;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 15px;
}
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 white;
  cursor: pointer;
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
  background-image: linear-gradient(#f2f2f2, #dbdbdb);
}
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4;
}
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 white;
  cursor: pointer;
  background-color: #e6e6fe;
  background-image: -webkit-linear-gradient(#e6e6fe, #b8b8ff);
  background-image: linear-gradient(#e6e6fe, #b8b8ff);
}
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid #b8b8ff;
  box-shadow: inset 0 0 8px 4px #a8a8ff, inset 0 0 8px 4px #a8a8ff;
}
header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
header.navigation .search-bar .search-and-submit button[type=submit] img {
  height: 12px;
  opacity: .7;
}
@media screen and (min-width: 60em) {
  header.navigation .search-bar {
    width: 16em;
    position: relative;
    display: inline-block;
  }
  header.navigation .search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
}

.hero {
  background: #392941 url(/images/backgrounds/bkg-cityscape.png) 50% 50% no-repeat;
  background-size: cover;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}
.hero .hero-logo img {
  max-height: 6.3em;
  margin-bottom: 2.7em;
}
.hero .hero-inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 3.6em;
  margin: auto;
  text-align: center;
  color: #ecf0f1;
}
.hero .hero-inner:after {
  content: "";
  display: table;
  clear: both;
}
.hero .hero-inner:after {
  content: "";
  display: table;
  clear: both;
}
.hero .hero-inner .button {
  border: 1px solid #1f9c52;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #7cd3a0;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #39ca74;
  background-image: -webkit-linear-gradient(#39ca74, #22a959);
  background-image: linear-gradient(#39ca74, #22a959);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #3eda7d;
  background-clip: padding-box;
  font-size: 0.92593em;
  outline: none;
  padding: 0.9em 2.7em;
}
.hero .hero-inner .button:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #55c784;
  cursor: pointer;
  background-color: #36b469;
  background-image: -webkit-linear-gradient(#36b469, #209b52);
  background-image: linear-gradient(#36b469, #209b52);
}
.hero .hero-inner .button:active:not(:disabled), .hero .hero-inner .button:focus:not(:disabled) {
  border: 1px solid #1f9c52;
  box-shadow: inset 0 0 8px 4px #1e8e4c, inset 0 0 8px 4px #1e8e4c;
}
.hero .hero-inner .button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media screen and (min-width: 60em) {
  .hero .hero-inner .button {
    font-size: 1em;
  }
}
.hero .hero-inner .hero-copy {
  text-align: center;
}
.hero .hero-inner .hero-copy h1 {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 1.8em;
}
@media screen and (min-width: 60em) {
  .hero .hero-inner .hero-copy h1 {
    font-size: 1.8em;
  }
}
.hero .hero-inner .hero-copy h1 em {
  font-family: "Gentium Book Basic", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 0.81em;
  font-weight: 400;
}
.hero .hero-inner .hero-copy h1 em:last-of-type {
  margin-right: 0.09em;
  margin-left: 0.09em;
}
.hero .hero-inner .hero-copy p {
  margin: auto;
  margin-bottom: 3em;
  font-weight: 200;
}
@media screen and (min-width: 60em) {
  .hero .hero-inner .hero-copy p {
    font-size: 1.2em;
    max-width: 40%;
  }
}

/* INFORMATION BAR */
.infobar {
  background: rgba(248, 248, 255, 0.1);
  color: #ecf0f1;
  margin-top: -6.1875em;
  margin-bottom: 1.875em;
  padding-top: 0.5625em;
  padding-bottom: 0.5625em;
  text-align: center;
}
@media screen and (min-width: 60em) {
  .infobar {
    background: ghostwhite;
    border: 1px solid #aea7bb;
    border-width: 1px 0;
    color: #21143b;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.infobar .infobar-item {
  display: block;
  font-size: 0.8547em;
  line-height: 1.6875em;
}
@media screen and (min-width: 60em) {
  .infobar .infobar-item {
    display: inline-block;
    padding: 0.5625em 0;
  }
}
.infobar .infobar-item:first-of-type {
  border-color: #aea7bb;
  border-style: solid;
  border-width: 0;
  padding-right: 0.5625em;
}
@media screen and (min-width: 60em) {
  .infobar .infobar-item:first-of-type {
    border-width: 0 1px 0 0;
    padding-right: 1.125em;
  }
}
.infobar .infobar-item:last-of-type {
  padding-left: 0.5625em;
}
@media screen and (min-width: 60em) {
  .infobar .infobar-item:last-of-type {
    padding-left: 1.125em;
  }
}
.infobar .infobar-item em,
.infobar .infobar-item sup {
  font-family: "Gentium Book Basic", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic;
}
.infobar .infobar-item em {
  margin-right: 0.16875em;
  margin-left: 0.16875em;
}

.speakers {
  padding: 1.5em;
}
.speakers:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 60em) {
  .speakers {
    padding: 0;
  }
}

.speaker {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  margin-bottom: 1.5em;
  cursor: pointer;
  box-shadow: 0 2px 4px #cfd9db;
  position: relative;
}
@media screen and (min-width: 40em) {
  .speaker {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .speaker:last-child {
    margin-right: 0;
  }
  .speaker:nth-child(3n) {
    margin-right: 0;
  }
  .speaker:nth-child(3n+1) {
    clear: left;
  }
}
.speaker .speaker-image {
  overflow: hidden;
  max-height: 360px;
}
.speaker .speaker-image img {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #dbd199;
  border-top-left-radius: 0.1875em;
  border-top-right-radius: 0.1875em;
}
.speaker .ribbon-wrapper {
  height: 85px;
  width: 85px;
  overflow: hidden;
  position: absolute;
  top: -1px;
  right: -1px;
}
.speaker .ribbon-wrapper .ribbon {
  font-size: 0.63em;
  font-weight: 800;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 2px 7px;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #39ca74;
  color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.speaker .speaker-header {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  border-radius: 0.1875em 0.1875em 0 0;
  font-weight: bold;
  padding: 0.5em 0.809em;
}
.speaker .speaker-copy {
  padding: 0.75em 0.809em;
  font-size: .9em;
  line-height: 1.5em;
}
.speaker:hover {
  background-color: white;
}
.speaker:hover .speaker-image img {
  background: #e2daac;
}
.speaker:hover .speaker-header {
  background-color: white;
}
.speaker:active {
  background-color: #f7f7f7;
}
.speaker:active .speaker-header {
  background-color: #f7f7f7;
}
@media screen and (min-width: 40em) {
  .speaker.keynote {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .speaker.keynote:last-child {
    margin-right: 0;
  }
  .speaker.keynote:nth-child(2n) {
    margin-right: 0;
  }
  .speaker.keynote:nth-child(2n+1) {
    clear: left;
  }
}
.speaker.keynote .speaker-copy {
  min-height: 153px;
}
@media screen and (min-width: 60em) {
  .speaker.keynote .speaker-copy {
    min-height: 108px;
  }
}

article.type-system-geometric {
  text-align: left;
}
article.type-system-geometric:after {
  content: "";
  display: table;
  clear: both;
}
article.type-system-geometric .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-size: .7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: .3em 0;
  text-align: left;
  text-transform: uppercase;
}
article.type-system-geometric h1 {
  font-family: "Sanchez", serif;
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: .5em;
}
@media screen and (min-width: 40em) {
  article.type-system-geometric h1 {
    font-size: 2.6em;
  }
}
article.type-system-geometric h2 {
  font-family: "Sanchez", serif;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 1.1em;
}
@media screen and (min-width: 40em) {
  article.type-system-geometric h2 {
    font-size: 1.3em;
  }
}
article.type-system-geometric code {
  white-space: nowrap;
  background: #F7F7F7;
  border: 1px solid #E0E0E0;
  border-radius: 0.28125em;
  padding: .1em .4em;
  font-size: .7em;
  font-style: normal;
}
article.type-system-geometric h3 {
  font-family: "Sanchez", serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: .4em;
}
article.type-system-geometric p.date {
  color: rgba(102, 102, 102, 0.4);
  font-family: "Sanchez", serif;
  font-style: italic;
  font-size: .9em;
  margin-bottom: .3em;
}
article.type-system-geometric p {
  font-family: "Questrial", sans-serif;
  line-height: 1.5em;
  font-size: 1.05em;
  margin-bottom: 1.5em;
}
article.type-system-geometric a.read-more {
  display: inline-block;
  font-family: "Questrial", sans-serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative;
}
article.type-system-geometric a.read-more span {
  font-family: "Questrial", sans-serif;
  font-style: normal;
  position: absolute;
  font-size: 1.5em;
  top: -1px;
  right: -12px;
}
article.type-system-geometric hr {
  width: 3em;
}
article.type-system-geometric p.author {
  font-family: "Questrial", sans-serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*----------------------------
    STYLES
  --------------------------*/
.constrained {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
.constrained:after {
  content: "";
  display: table;
  clear: both;
}
.constrained:after {
  content: "";
  display: table;
  clear: both;
}

section .heading {
  background: #ecf0f1;
  margin-top: 1.125em;
  padding: 0.5625em 0;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 60em) {
  section .heading:after {
    border-top: 1px solid #c4d1d4;
    border-bottom: 1px solid #c4d1d4;
    content: " ";
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
section .heading span {
  color: #829da3;
  display: inline-block;
  font-size: 0.63em;
}
@media screen and (min-width: 60em) {
  section .heading span {
    background: #ecf0f1;
    font-size: 1em;
    padding-right: 1.125em;
    padding-left: 1.125em;
    position: relative;
    z-index: 2;
  }
}

.infobar,
.speakers {
  margin-bottom: 3.375em;
}
